[Unit]
Description=SSH Tunnel managment
Requires=network.target
After=network.service

[Service]
Type=simple
User=sshtunnel
Group=sshtunnel
ExecStart=/usr/bin/sshtunnel-systemd %i
