[Unit]
Description=SSH Tunnel managment
Requires=network-online.target
After=network-online.target network.service

[Service]
Type=simple
User=sshtunnel
Group=sshtunnel
ExecStart=/usr/bin/sshtunnel connect %i

[Install]
WantedBy=multi-user.target
